{% load mathfilters %}
<p>
  {% if net_total < 0 %}
    🔽 Estás <b>abajo</b> por: <span class="danger-text"><b>${{ net_total | abs | floatformat:0 }}</b></span>
  {% elif net_total > 0 %}
    🔼 Estás <b>arriba</b> por: <span class="success-text"><b>${{ net_total | floatformat:0 }}</b></span>
  {% else %}
    <span>🥳 Estamos <b>iguales</b></span>
  {% endif %}
</p>
<button hx-post="{% url 'settle' %}"
        hx-swap="innerHtml"
        hx-target="#expenses"
        method="post">💵 Saldar</button>
<table id="expense-table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Usuario</th>
      <th>Desc</th>
      <th>Valor</th>
      <th>Acc</th>
    </tr>
  </thead>
  <tbody id="expense-list">
    {% for expense in expenses %}
      <tr>
        <td>{{ expense.date | date:'j/n' }}</td>
        <td>{{ expense.user }}</td>
        <td>{{ expense.title }}</td>
        {% if not expense.value %}
          <td>${{ expense.net_value | floatformat:0 }}</td>
        {% else %}
          <td class="{% if user == expense.user %}success{% else %}danger{% endif %}-text">
            ${{ expense.value | floatformat:0 }}
          </td>
        {% endif %}
        <td>
          {% if not expense.settle %}
            <a hx-get="{% url 'edit_expense' id=expense.id %}"
               hx-target="closest tr"
               hx-swap="outerHTML"
               hx-include="closest tr">📝</a>
          {% endif %}
          <a hx-post="{% url 'delete_expense' id=expense.id %}"
             hx-confirm="¿Estás seguro que queres borrar el gasto?"
             hx-swap="innerHtml"
             hx-target="#expenses">🗑</a>
        </td>
      </tr>
    {% endfor %}
    {% if not expenses %}
      <tr>
        <td colspan="4">👻 No se encontraron gastos</td>
      </tr>
    {% endif %}
  </tbody>
</table>
