<h2>💸 Nuevo Gasto</h2>
<form id="create-expense-form"
      hx-post="{% url 'create_expense' %}"
      hx-swap="innerHtml"
      hx-target="#expenses"
      method="post">
       <input required
              autocomplete="off"
              type="text"
              name="title"
              placeholder="Descripción" />
       <input required
              autocomplete="off"
              min="1"
              type="number"
              name="value"
              placeholder="Valor" />
       <select required name="user">
              {% for user in users %}
                     <option {% if user == request.user %}selected{% endif %}
                             value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
       </select>
       <input required
              type="date"
              name="date"
              value='{% now "Y-m-d" %}'
              placeholder="Fecha" />
       <button type="submit">💾</button>
</form>
