{% load mathfilters %}
<p>
  {% if net_total < 0 %}
    🔽 Estás <b>abajo</b> por: <span class="danger-text"><b>${{ net_total | abs | floatformat:0 }}</b></span>
  {% elif net_total > 0 %}
    🔼 Estás <b>arriba</b> por: <span class="success-text"><b>${{ net_total | floatformat:0 }}</b></span>
  {% else %}
    <span>🥳 Estamos <b>iguales</b></span>
  {% endif %}
</p>
<button hx-post="{% url 'settle' %}"
        hx-swap="innerHtml"
        hx-target="#expenses"
        method="post">💵 Saldar</button>
<hr />
<input type="search"
       name="search"
       placeholder="Buscar ..."
       hx-post="{% url 'search_expenses' %}"
       hx-trigger="keyup changed delay:500ms, search"
       hx-target="#expense-table">
{% include "expense_table.html" %}
