<h2>😎 Nuevo Gasto</h2>
<form id="create-expense-form"
      hx-post="{% url 'create-expense' %}"
      hx-swap="innerHtml"
      hx-target="#expenses"
      method="post">
       <input required
              autocomplete="off"
              type="text"
              name="title"
              placeholder="Ingresar descripción" />
       <input required
              autocomplete="off"
              min="1"
              type="number"
              name="value"
              placeholder="Ingresar valor" />
       <select required name="user">
              {% for user in users %}<option value="{{ user.id }}">{{ user.username }}</option>{% endfor %}
       </select>
       <input required
              type="date"
              name="date"
              value='{% now "Y-m-d" %}'
              placeholder="Ingresar fecha" />
       <button type="submit">💾 Guardar</button>
</form>
