<div id="income">
    <h2>📅 Mes</h2>
    Año: <b>{{ year }}</b>
    <br>
    Mes: <b>{{ month_name }}</b>
    <p>
        <button hx-get="{% url 'incomes' %}?month={{ prev_month }}&year={{ prev_year }}"
                hx-target="#income">⏪ Mes Anterior</button>
        <button hx-get="{% url 'incomes' %}?month={{ next_month }}&year={{ next_year }}"
                hx-target="#income">Mes Próximo ⏩</button>
    </p>
    <h3>💵 Ingresos:</h3>
    {% if editing %}
        <form method="post" hx-post="{% url 'income_edit' %}" hx-target="#income">
            <input type="hidden" name="month" value="{{ month }}" />
            <input type="hidden" name="year" value="{{ year }}" />
            {% if incomes %}
                {% for income in incomes %}
                    <label>{{ income.user.username }}</label>
                    <input autocomplete="off"
                           min="1"
                           required
                           type="number"
                           name="income-{{ income.user.id }}"
                           value="{{ income.value }}" />
                {% endfor %}
            {% else %}
                {% for user in users %}
                    <label>{{ user.username }}</label>
                    <input autocomplete="off"
                           min="1"
                           required
                           type="number"
                           name="income-{{ user.id }}"
                           value="0" />
                {% endfor %}
            {% endif %}
            <button hx-get="{% url 'incomes' %}?month={{ month }}&year={{ year }}"
                    hx-target="#income">❌ Cancelar</button>
            <button type="submit">💾 Guardar</button>
        </form>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Ingresos</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% if incomes %}
                    {% for income in incomes %}
                        <tr>
                            <td>{{ income.user.username }}</td>
                            <td>{{ income.value }}</td>
                            <td>{{ income.percentage | floatformat:1 }}%</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <button hx-get="{% url 'income_edit' %}?month={{ month }}&year={{ year }}"
                hx-target="#income">📝 Editar</button>
    {% endif %}
</div>
